.place__title {
    font-weight: 900;
    font-size: 72px;
    line-height: 1.06;
    grid-area: hd;
    margin: 0;
    align-self: end;
}

@media screen and (max-width: 1023px) {
    .place__title {
        font-size: 42px;
        line-height: 1.1;
        max-width: 75%;
    }
}

@media screen and (max-width: 767px) {
    .place__title {
        font-size: 37px;
        max-width: 60%;
        margin: 0 16px 0;
    }
}

@media screen and (max-width: 539px) {
    .place__title {
        font-size: 32px;
        line-height: 1.09;
        max-width: 288px;
    }
}