.lead {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: calc(100% - 200px);
    margin: 0 auto;
    padding: 56px 0 0;
    box-sizing: border-box;
    object-fit: cover;
}