.header {
    display: flex;
    color: #fff;
    max-height: 52px;
    margin: auto;
    padding: 28px 0 0;
    max-width: calc(100% - 96px);
    font-size: 16px;
    justify-content: space-between;
}

@media screen and (max-width: 1023px) {
    .header {
        max-width: calc(100% - 48px);
    }
}

@media screen and (max-width: 767px) {
    .header {
        max-width: calc(100% - 32px);
        max-height: 42px;
    }
}

