.footer__list {
    margin-left: 18px;
    box-sizing: border-box;
}

.footer__list:first-child {
    margin-left: 0;
}

@media screen and (max-width: 767px) {
    .footer__list {
        margin: 32px 0 0;
    }
    .footer__list:first-child {
        margin: 0;
    }
}